<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Starter</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
<link rel="stylesheet"
	href="bower_components/layer/skin/default/layer.css">
<link rel="stylesheet"
	href="bower_components/ztree/css/metroStyle/metroStyle.css" />
<link rel="stylesheet"
	href="bower_components/treegrid/jquery.treegrid.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini">石家庄黄记煌丙寅餐厅</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg">石家庄黄记煌丙寅餐厅</span>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only"></span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <!-- The user image in the navbar-->
								<img src="dist/img/head.jpg" class="user-image" alt="User Image">
								<!-- hidden-xs hides the username on small devices so only the image appears. -->
								<span class="hidden-xs" id="loginUserId"
								th:text="${user.username}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- The user image in the menu -->
								<li class="user-header"><img src="dist/img/head.jpg"
									class="img-circle" alt="User Image"></li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-right">
										<a href="doLogout" class="btn btn-default btn-sign-out">退出</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar Menu -->
				<ul class="sidebar-menu" data-widget="tree">
					<!-- Optionally, you can add icons to the links -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>商品管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-base-id">蔬菜管理</a></li>
							<li><a id="load-type-id">冻货管理</a></li>
							<li><a id="load-brand-id">原料管理</a></li>
							<li><a id="load-attr-id">资产管理</a></li>
						</ul></li>
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>系统管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-dept-id">门店管理</a></li>
							<li><a id="load-menu-id">菜单管理</a></li>
							<li><a id="load-role-id">角色管理</a></li>
							<li><a id="load-user-id">用户管理</a></li>
							<li><a id="load-pwd-id"> 修改密码</a></li>
						</ul></li>
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>日志管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-log-id"> 日志管理</a></li></li>
				</ul>
				<!-- /.sidebar-menu -->
			</section>

			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section id="mainContentId" class="content container-fluid">
			</section>
		</div>

	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="dist/js/adminlte.min.js"></script>
	<script type="text/javascript">
   //页面加载完成事件
   $(function(){
	   doLoadUI("load-log-id","log/log_list");
	   doLoadUI("load-menu-id","menu/menu_list");
	   doLoadUI("load-role-id","role/role_list");
	   doLoadUI("load-dept-id","dept/dept_list");
	   doLoadUI("load-user-id","user/user_list");
	   doLoadUI("load-pwd-id","user/pwd_edit");
	   //doLoadUser();
   })
   //基于某个对象click事件,执行资源加载操作
   function doLoadUI(id,url){
	   $("#"+id).click(function(){
		   //mainContentId为呈现页面的一个位置
		   //load函数为jquery中的一个ajax函数
		   //load函数用于在某个位置异步加载某个资源
		   $("#mainContentId").load(url);
	   })
   }
   function doLoadUser(){
	   var url="user/doGetUser"
	   $.getJSON(url,function(reslut){
		   if(reslut.state==1){
			   $("#loginUserId").html(reslut.data.username)
		   }	   
	   })
   }
   

</script>
</body>
</html>





